matplotlib==3.4.1
torch==1.8.1
scikit-learn~=0.24.0rc1
tqdm==4.60.0
numpy>=1.20.2
Pillow==8.2.0
torchvision==0.9.1
scipy>=1.6.2
transformers==4.5.0
pandas>=1.2.3
termcolor~=1.1.0
pickle5>=0.0.11
PyYAML>=5.4.1
librosa>=0.8.0
pydub>=0.25.1
spacy>=3.0.5
nltk>=3.5